{% extends "manage/_base.html" %}
{% load staticfiles %}
{% block title %}Media manage{% endblock %}
{% block body %}
<div class="container">
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" id="index">Manage:</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul id="mainmenu" class="nav navbar-nav navbar-left">
          {% for it in items %}
          <li><a id="id_{{it.id}}" url="{% url 'manage:torrent_list' it.id %}", href="#">{{ it.local_ptr.name }}</a></li>
          {% endfor %}  
          <li><a id="id_local_storage" url="{% url 'manage:local_storage_list' %}", href="#">Local storage</a></li>
          <li><a id="id_remote_storage" url="{% url 'manage:remote_storage_list' %}", href="#">Remote storage</a></li>
          <li><a id="id_storage_map" url="{% url 'manage:storage_map_list' %}", href="#">Storage map</a></li>
          <li><a id="id_setting" url="{% url 'manage:setting_list' %}", href="#">Setting</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="jumbotron" id="view"></div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
  $(document).ready(function(e){
    init(e, $('#{{load_tab}}'));
  });
</script>
{% endblock %}