<div class="panel panel-default">
  <table class="table table-hover">
    <caption>
      <span class="navbar-brand">{{ header }}</span>
      <div class="container-fluid">
        <div class="navbar-right">
          <button type="button" class="btn-form btn btn-default navbar-btn" url="{{ action_add }}">Add</button>
        </div>
      </div>
    </caption>
    <thead>
      <tr>
        {% for it in labels %}
        <th>{{ it }}</th>
        {% endfor %}  
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for it in items %}  
      <tr>
        {% for it_data in it.data %}
        <td>{{ it_data }}</td>
        {% endfor %}  
        <td>
          <div class="container-fluid btn-group">
            <button type="button" class="btn-form btn btn-default btn-xs" url="{{ it.url_edit }}"><span class="glyphicon glyphicon-pencil"></span></button>
            <button type="button" class="btn-form btn btn-default btn-xs" url="{{ it.url_delete }}"><span class="glyphicon glyphicon-trash"></span></button>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<div class="modal fade" id="dlg" tabindex="-1" aria-hidden="true"></div>