<div class="panel panel-default">
  <table class="table table-hover">
     <caption>
      <span class="navbar-brand">{{ header }}</span>
    </caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Hash</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for it in items %}
    <tr data-toggle="collapse" data-target="#collapse_{{it.id}}" class="accordion-toggle">
      <td>{{ it.name }}</td>
      <td>{{ it.idhash }}</td>
      <td>
        <div class="container-fluid btn-group">
          <button type="button" class="btn-form btn btn-default btn-xs" url="{{it.url_delete}}" data-toggle="tooltip" data-placement="top" title="Remove torrent">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
          <button type="button" class="btn-form btn btn-default btn-xs" url="{{it.url_delete_files}}" data-toggle="tooltip" data-placement="top" title="Remove files">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </td>
    </tr>
    <tr class="hiddenRow">
      <td colspan="3">
        <div class="accordion-body collapse" id="collapse_{{it.id}}">
          <ul class="list-group list-group-inner">
            {% for file in it.files %}
            <li class="list-group-item">{{ file.path }}</li>
            {% endfor %}
          </ul>
        </div>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<div class="modal fade" id="dlg" tabindex="-1" aria-hidden="true"></div>