body {
  background-color: #ffffff;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover {
  color: #005580;
  text-decoration: underline;
}

span.toggle {
  height: 9px;
  width: 9px;
  display: inline-block;
}

span.toggle.expand {
  background: url('../images/expand.gif') no-repeat center center;
}

span.toggle.collapse {
  background: url('../images/collapse.gif') no-repeat center center;
}

.nav>li.nav-job {
  left: 0;
  right: 30px;
  position: absolute;
}

span.col-build-last {
  float: right;
  width: 65px;
}

span.col-build-last-time {
  float: right;
  width: 125px;
}

span.col-build-last-stat { 
  float: right;
  width: 120px;
}

span.col-build-count { 
  float: right;
  width: 28px;
}


/*breadcrumb*/

.fit_breadcrumb {
  margin-top: 0px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  margin-bottom: 1px;
}

.fit_breadcrumb li {
  display: inline-block;
  text-shadow: 0 1px 0 #ffffff;
  background: none;
  padding: 0;
}

.fit_breadcrumb .divider {
  padding: 0 5px;
  color: #999999;
}

.fit_breadcrumb .active a {
  color: #333333;
}

/*aggregation grid*/

.fit-aggregation {
  border-spacing: 0px 0px;
  font-family: arial;
  font-size: 8pt;
  font-weight: bold;
}

.fit-aggregation td, th {
  min-width: 30px;
  height: 26px;
  border-bottom: solid silver 1px;
  border-right: solid silver 1px;
}

.fit-aggregation .cell-header {
  font-weight: normal;
  text-align: center;
}

.fit-aggregation .cell-suite {
  padding-left: 5px;
}

.fit-aggregation .cell-test {
  padding-left: 15px;
  padding-right: 5px;
}

.fit-aggregation .cell-error {
  background: red;
  cursor: pointer;
}

.fit-aggregation .cell-success {
  background: green;
  cursor: pointer;
}
